nav {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.App {
    height: 100%;
    display: flex;
}

.conference-toggle {
    border: 1px solid black;
    text-align: center;
}

.page-header {
    width: 100%;
    border: 1px solid black;
    text-align: right;
    color: white;
    background: black;
}

.page-header h1 {
    margin-right: 7%;
}

/* .player-info-window {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
} */

.player-link {
    margin: 40px;
    text-decoration: none;
}

.player-name {
    color: black;
    text-align: center;
}

.player-picture {
    height: 300px;
}

.player-portrait {
    width: 200px;
    height: 200px;
}

.roster-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.team-banner {
    width: 100%;
    margin: 0;
}

.team-info-display {
    display: flex;
    flex-direction: column;
    /* margin: 0 50px; */
}

.team-list {
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
}

.team-name {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 15px;
    border: 1px solid black;
    transition-duration: 1s;  
}

.team-name:hover {
    background: black;
    color: white;
}

.team-summary {
    margin: 30px 30px 0 30px;
}

/* background Image by <a href="https://pixabay.com/users/jimgade-6847478/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3354860">Jim Gade Pixabay */
